@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@98.8,438&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #000000;
    --foreground: #f2f2f2;
    --navbar-background: #1e1e1e;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --accent-color: #d9d8e7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #f0f0f0;
        --background: rgb(0, 0, 0);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-weight: 400;
    font-size: xx-large;
}

h1,
li {
    font-family: "Barlow";
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Barlow";
    font-weight: 400;
}

h1 {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.section-header {
    display: flex;
}
/* For button cards in general */
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    margin: 10%;
}

.buttonCard {
    font-weight: bold;
    width: 60vh;
    height: 60vh;
    padding: 5px;
    font-size: xx-large;
    border-radius: 20%;
    overflow: hidden;
    background-color: gray;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttonCard:hover {
    cursor: pointer;
    background-color: aqua;
    transition: background-color 0.4s ease;
}

.project-header {
    align-self: center;
    text-align: center;
}

.contact-form {
    display: flex;
    width: 60vh;
    align-self: center;
    justify-content: space-evenly;
    justify-items: center;
}
