@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@98.8,438&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #171717;
    --foreground: #eae7dd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #eae7dd;
        --background: black;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-weight: 400;
    font-size: xx-large;
}

h1,
li {
    font-family: "Barlow";
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Barlow";
    font-weight: 400;
}

h1 {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.section-header {
    display: flex;
}
/* For button cards in general */
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    margin: 10%;
}

.buttonCard {
    font-weight: bold;
    width: 320px;
    height: 320px;
    padding: 5px;
    font-size: xx-large;
    border-radius: 20%;
    overflow: hidden;
    background-color: bisque;
    margin: 5vh;
}

.buttonCard:hover {
    cursor: pointer;
    background-color: aqua;
    transition: background-color 0.4s ease;
}
