:root {
    --background: #171717;
    --foreground: #eae7dd;
}

.active {
    background-color: gray;
    color: var(--foreground);
}

.inactive {
    background-color: var(--background);
    color: var(--foreground);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: gray; */
}

.button {
    padding: 2vh;
    margin: 0.5em;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: white 2px;
    background-color: #222222;
    width: 100%;
}

.pdf-pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    border: white 2px;
    background-color: #222222;
    align-content: center;
}
